@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
:root{
    font-family: Lexend, sans-serif;
    color: white;
    --main-color: white;
    --accent-color: crimson;
    scroll-behavior: smooth;
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 980px;
    margin: auto;
}
header .logo {
    font-size: 35px;
    color:var(--accent-color);
    text-transform: uppercase;
    text-align: left;
}
header .menu a {
    display: block;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 20px;
}
header .menu a:hover {
    font-weight: bold;
}
@media (min-width: 480px) {
    header nav {
        display: flex;
    }
    header .menu {
        display: flex;  
        align-items: left;  
        justify-content: space-around;
        flex: 1;
    }
}
    .subheading {
        background-image:url(../img/background.jpg);
        background-size: cover;
        background-position:center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 400px;
        font-size: 40px;
        color: var(--accent-color);

    }
    .about-us h2 {
        color: var(--accent-color);
    }    
#services {
    color: var(--accent-color);
}    
main .services-list .services img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid var(--accent-color);
    
       
    }
main .services-list .services {
    margin: 5px;
  }
#halloffame {
    color: var(--accent-color);
}
main .halloffame img {
    width: 100%;
    border: 3px solid var(--accent-color);
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;   
}
main .halloffame .button {
  margin: auto;
}
main .halloffame {
    margin: 5px;
}
#products {
    color: var(--accent-color);
    
}
main .products-list img {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    border: 3px solid var(--accent-color);
    width: 250px;
    margin: 5px;
}
#blog {
    color: var(--accent-color);
}
main .blog img {
    width: 100%;
    border: 3px solid var(--accent-color);
    width: 150px;
    margin: 5px;
}
main .blog {
    display: flex;
    flex-direction: column;
}
#contacts {
    color: var(--accent-color);
}
@media (min-width: 440px) {
    .halloffame {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .halloffame {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .halloffame {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 440px) {
    .services-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .services-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .services-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 440px) {
    .products-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .products-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    .products-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}
/*controls*/
.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--accent-color) ;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color:var(--accent-color);
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}
.button:hover {
    color: white;
    background-color:transparent;
    cursor: pointer;
}